{% extends 'shop/basic.html' %}

{% block title %}About Us- Plant House{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3" style="font-family: 'Allerta Stencil', Sans-serif;">Plant House</h1>
      <p>This is Nursery market website where users can check various plants offered by various nurseries. You can simply add everything to the cart and then go on to placing the order. Once you have placed the order you will get an order id using which you can track your order along with the email address.All the updates will be given by the nursery owner and you can see them in the tracker.Also you can contact us anytime you want.Don't forget to write reviews for the plants, this helps and encourages the nursery owner.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="column">
        <img src="/media/shop/images/0.jpeg" class="w3-circle" style="width: 300px;" alt="Car">
      </div>
      <div class="column">
        <div class="container">
          <h3 class="w3-xxlarge">NIKHIL MANKANI</h3>
          <h3 class="w3-xlarge">DEVELOPER</h3>
          <div class="w3-container" style="width: 630px;">
            <div class="w3-panel w3-leftbar w3-sand">
              <p class="w3-xlarge w3-serif"><i>"I am a second year student of IT currently pursuing my Engineering
                  Degree from Thadomal Shahani College of Engineering. I am more into Django web development with good
                  understanding of Python being my strongest point."</i></p>
            </div>
          </div>
          <div class="w3-panel w3-large">
            <a href="https://www.facebook.com/nikhil.mankani"><i class="fa fa-facebook-official w3-hover-opacity" style="font-size:31px;padding:5px"></i></a>
            <a href="https://www.instagram.com/niksm07/?hl=en"><i class="fa fa-instagram w3-hover-opacity" style="font-size:31px;padding:5px"></i></a>
            <a href="https://www.linkedin.com/in/nikhil-mankani-1a3bb1176/"><i class="fa fa-linkedin w3-hover-opacity" style="font-size:31px;padding:5px"></i></a>
            <a href="https://github.com/niksm7"><i class="fa fa-github w3-hover-opacity" style="font-size:48px;padding:5px"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->

</main>

{% endblock %}